.head {
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .48rem;
    /*background: yellow;*/
    text-align: center;
}

.head .title {
    font-size: .48rem;
    font-weight: 400;
    box-shadow: 0 .03rem .2rem #ccc;
}

.container {
    margin: .1rem 0 .1rem;
}

.container .zhuangTai {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: .4rem;
}

.zhuangTai li {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-weight: 300;
    color: #666;
}

.zhuangTai li span {
    padding-bottom: .25rem;
    width: 30%;
    text-align: center;
    border-bottom: 3px solid #0fb748;
}

.container .dingdan {
    /*padding: 0 .2rem;*/
    font-size: .35rem;
    color: #666;
    background: #F8F8F8;
}

.dingdan .dingdan-title {
    padding: 0 .2rem;
    height: 1.7rem;
    line-height: 1.7rem;
}

.dingdan .riqi {
    display: inline-block;
}

.dingdan .dingdanzhuanggtai {
    display: inline-block;
    float: right;
    color: red;
}

.list {
    padding: 0 .2rem;
    height: 2.4rem;
}

.list li {
    width: 100%;
    height: 100%;
}

.list li .left {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle
}

.list li .left img {
    /*display: inline-block;*/
    width: 100%;
    height: 100%;
    vertical-align: middle
}

.list .right {
    display: inline-block;
    width: 5rem;
    height: 2rem;
    vertical-align: top;
}

.right .rTitle {
    margin-bottom: .3rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.right .guige {
    color: #ccc;
}

.list .right1 {
    display: inline-block;
    float: right;
    height: 2rem;
}

.list .right1 .price {
    margin-bottom: .1rem;
}
.dingdan .bottom{
    width:100%;
    height: 1rem;
    line-height: 1rem;
}
.bottom .jianshu{
    padding:0 .2rem;
    float: right;
}
.dingdan .bigBtn{
    margin:0 .2rem;
    display: inline-block;
    float: right;
}
.bigBtn .btn{
    width:2rem;
    height: .8rem;
    font-size:.32rem;
    border:1px solid #000;
    border-radius: .18rem;
}
